/**/
QWidget
{
    border-radius: 0; /* 取消圆角 */
    border: none;
	background: transparent;
}

#Lab_UserMsg{
    color:rgb(153,153,153);
    font-size: 12px;
    font-family: "Microsoft YaHei";
}

#Lab_UserName{
    color:rgb(0,0,0);
    font-size: 14px;
    font-weight: normal;
    font-family: "Microsoft YaHei";
}

#Wgt_Time #Lab_Time{
   color:rgb(140,140,140);
   font-size: 12px;
   font-family: "Microsoft YaHei";
}